<div class="container">

  <div class="row">

    <div class="col s12 m6 l4">
      <div class="card">

        <div class="card-content indigo-text text-darken-3">TECNOLOGÍAS</div>
        <div class="card-content grey-text text-darken-2">
          <ul style="list-style-type:circle">
            <li>Detección de Oportunidades de Ahorro</li>
            <li>Análisis de Retorno de Inversión (ROI)</li>
            <li>Reporte de Factibilidad y Seguimiento</li>
          </ul>
        </div>      
        <div class="card-image">
          <img src="imagenes/ahorro650x416.jpg" height="375" width="460">
          <span class="card-title black-text"></span>
        </div>
      </div> <!--<div class="card">-->
    </div> <!-- <div class="col s12 m6 l4"> -->
    <div class="col s12 m6 l4">
      <div class="card">

        <div class="card-content indigo-text text-darken-3">SOPORTE TÉCNICO</div>
        <div class="card-content grey-text text-darken-2">
          <ul style="list-style-type:circle">
            <li>Asesoría en la selección de equipos</li>
            <li>Puesta en marcha de nuestros equipos</li>
            <li>Pláticas de nuevos productos y tecnologías</li>
          </ul>
        </div>      
        <div class="card-image">
          <img src="imagenes/ingeniero620x385.jpg" height="375" width="460">
          <span class="card-title black-text"></span>
        </div>
      </div> <!--<div class="card">-->
    </div> <!-- <div class="col s12 m6 l4"> -->

    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-content indigo-text text-darken-3">DESARROLLO DE APLICACIONES</div>
        <div class="card-content grey-text text-darken-2">
          <ul style="list-style-type:circle">
            <li>Levantamiento de necesidades en sitio</li>
            <li>Determinación y evaluación de opciones</li>
            <li>Pruebas piloto y entrega de resultados</li>
          </ul>
        </div>      
        <div class="card-image">
          <img src="imagenes/programacion350x250.jpg" height="375" width="460">
          <span class="card-title black-text"></span>
        </div>
      </div> <!--<div class="card">-->
    </div> <!-- <div class="col s12 m6 l4"> -->

  </div> <!-- <div class="row"> -->
  
  <div class="row">  

    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-content indigo-text text-darken-3">COMERCIALIZACIÓN</div>
        <div class="card-content grey-text text-darken-2">
          <ul style="list-style-type:circle">
            <li>Departamento de Ventas Canal de Distribución</li>
            <li>Departamento de Ventas Técnicas Consultivas</li>
          </ul>
        </div>      
        <div class="card-image">
          <img src="imagenes/comercializacion424x300.jpg" height="375" width="460">
          <span class="card-title black-text"></span>
        </div>
      </div> <!--<div class="card">-->
    </div> <!-- <div class="col s12 m6 l4"> -->


    <div class="col s12 m6 l4">
      <div class="card">
       <div class="card-content indigo-text text-darken-3">CAPACITACIÓN</div>
       <div class="card-content grey-text text-darken-2">
          <ul style="list-style-type:circle">
            <li>Elaboración de Talleres por Tema</li>
            <li>Elaboración de Planes Programados a la medida</li>
          </ul>
        </div>      
        <div class="card-image">
          <img src="imagenes/capacitacion1024x768.jpg" height="375" width="460">
          <span class="card-title black-text"></span>
        </div>
      </div> <!--<div class="card">-->
    </div> <!-- <div class="col s12 m6 l4"> --> 
  </div> <!--<div class="row">-->

  <div class="row">
    <div class="col s11 m5 l3">
      <div class="collection">        
        <ul class="collection with-header">
          <li class="collection-header indigo-text text-darken-3">INICIATIVAS DE AHORRO</li>
          <li>
            <a href="#servicios" class="collection-item grey-text text-darken-3" ng-click="$ctrl.muestra(1)">Estandarización
            <i class="material-icons right" alt="Mountain View" >arrow_drop_down</i></a>
          </li>
          <a href="#servicios" class="collection-item grey-text text-darken-1" ng-if="$ctrl.es1">Reducción de inventarios y números de parte.</a>
          <li>  
            <a href="#servicios" class="collection-item grey-text text-darken-3" ng-click="$ctrl.muestra(2)">Marcas sustitutas
            <i class="material-icons right" alt="Mountain View" >arrow_drop_down</i></a>
          </li>
          <a href="#servicios" class="collection-item grey-text text-darken-1" ng-if="$ctrl.es2">Análisis y pruebas en campo de piezas acorde al estándar requerido (+Durabilidad y/o – Costo).</a>        

          <li>  
            <a href="#servicios" class="collection-item grey-text text-darken-3" ng-click="$ctrl.muestra(3)">Control de almacenes
            <i class="material-icons right" alt="Mountain View" >arrow_drop_down</i></a>
          </li>
          <a href="#servicios" class="collection-item grey-text text-darken-1" ng-if="$ctrl.es3">Sistemas de Control (+Seguimiento de Piezas -Faltantes).</a>        

          <li>  
            <a href="#servicios" class="collection-item grey-text text-darken-3" ng-click="$ctrl.muestra(4)">Reducción de paros
            <i class="material-icons right" alt="Mountain View" >arrow_drop_down</i></a>
          </li>
          <a href="#servicios" class="collection-item grey-text text-darken-1" ng-if="$ctrl.es4">Mayor Productividad (+Rapidez en detección de Fallas –Paros de Línea NO Programados).</a>        

          <li>  
            <a href="#servicios" class="collection-item grey-text text-darken-3" ng-click="$ctrl.muestra(5)">Ahorro de energía
            <i class="material-icons right" alt="Mountain View" >arrow_drop_down</i></a>
          </li>
          <a href="#servicios" class="collection-item grey-text text-darken-1" ng-if="$ctrl.es5">Estudios Factor de Potencia, Edificios Inteligentes.</a>        

          <li>  
            <a href="#servicios" class="collection-item grey-text text-darken-3" ng-click="$ctrl.muestra(6)">Análisis de riesgos
            <i class="material-icons right" alt="Mountain View" >arrow_drop_down</i></a>
          </li>
          <a href="#servicios" class="collection-item grey-text text-darken-1" ng-if="$ctrl.es6">Reducción de accidentes en áreas productivas (capacitación e implementación soluciones).</a>        

        </ul>
      </div> <!--<div class="collection">-->
    </div> <!--<div class="col s12 m6 l3">-->

  </div>
</div> <!-- <div class="container"> -->