  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Creado para ti {{count}}</h1>
      <div class="row center">
        <h5 class="header col s12 light">Inicia tu historial crediticio de manera rápida y segura</h5>
      </div>
      <div class="row center">
        <!--<a href="#/solicitud" id="download-button" class="btn-large waves-effect waves-light orange">Obtenlo ahora</a>-->
        <a ng-if="$ctrl.muestra_login" ng-click="$ctrl.funcinisol()" id="download-button" class="btn-large waves-effect waves-light orange">Obtenlo ahora</a>
      </div>
      <br><br>
    </div>
  </div>
